alias lz=lazygit
alias gc='git commit -m'
alias gcamend='git commit --amend --no-edit'
alias ga='git add .'
alias docko='docker-compose'
alias kc=kubectl
alias cl=clear
alias gg=lazygit
alias ns='npm start'
alias ni='npm i'
alias y=z
alias stopdocker="docker ps | awk ‘FNR == 2 {print $1}’ | xargs docker stop"
alias fix="git diff --name-only | uniq | xargs code"
