{
  "extends": [
    "wesbos"
  ],
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "no-console": "warn",
    "no-unused-expressions": "off",
    "no-shadow": "warn",
    "camelcase": 0,
    "no-use-before-define": "warn",
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "react/prop-types": 0,
    "react/default-props-match-prop-types": "warn",
    "react/destructuring-assignment": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}