# This is Git's per-user configuration file.
[user]
	name = Michael Pomogajko
	email = m.pomogajko@gmail.com
# Please adapt and uncomment the following lines:
#	name = Michael Pomogajko
#	email = m.pomogajko@gmail.com
